<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ConfigurationsXml" value="~/App_Data/Configurations.xml"/>
		<add key="DefaultProvidersXml" value="~/App_Data/DefaultProviders.xml"/>
	</appSettings>
	<system.web>
		<machineKey validationKey="46CDB28D69D76EFEABE6ABAB689B2450DCC6F2A76C9099DB" decryptionKey="39D7BB384AAED6D5B297E7DD3ED77A3FE6764E5F6F23EB17" validation="SHA1"/>

		<compilation debug="false"></compilation>

		<!--Hey! ASProxy needs ASP.NET 2 server to run.-->
		<trace enabled="false" pageOutput="false" localOnly="true" traceMode="SortByCategory" mostRecent="false" requestLimit="9999999"/>

		<authentication mode="Forms">
			<!-- One month = 43200 minutes -->
			<forms name="ASProxyUser" timeout="43200" slidingExpiration="true" protection="All" defaultUrl="~/" loginUrl="~/login.aspx"/>
		</authentication>

		<!--Some performance configurations-->
		<pages autoEventWireup="true" enableViewStateMac="false" enableEventValidation="false" maintainScrollPositionOnPostBack="false" compilationMode="Auto" viewStateEncryptionMode="Never" validateRequest="false"/>

		<sessionState timeout="10" cookieName="ASProxySession"/>

		<customErrors mode="RemoteOnly" defaultRedirect="error_page.htm"/>

		<httpModules>
			<remove name="WindowsAuthentication"/>
			<remove name="PassportAuthentication"/>
			<remove name="RoleManager"/>
			<remove name="Profile"/>
		</httpModules>

	</system.web>

	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true"/>
		</settings>
	</system.net>
</configuration>
