<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ConfigurationsXml" value="~/App_Data/Configurations.xml"/>
		<add key="EngineProvidersXml" value="~/App_Data/EngineProviders.xml"/>
	</appSettings>
	<system.web>
		
		<compilation debug="true"></compilation>
		
		<!--Hey! ASProxy needs ASP.NET 2 server to run.-->
		<trace enabled="false" pageOutput="false" localOnly="true" traceMode="SortByCategory" mostRecent="false" requestLimit="9999999"/>
		
		<authentication mode="Forms">
			<!-- One month = 43200 minutes -->
			<forms name="ASProxyUser" timeout="43200" slidingExpiration="true" protection="All" defaultUrl="~/" loginUrl="~/login.aspx"/>
		</authentication>
		
		<sessionState mode="InProc" timeout="20" cookieName="ASProxySession"/>
		
		<customErrors mode="RemoteOnly" defaultRedirect="error_page.htm"/>
		
		<!--Some performance configurations-->
		<pages autoEventWireup="true" enableSessionState="true" enableViewStateMac="false" enableEventValidation="false" maintainScrollPositionOnPostBack="false" compilationMode="Auto" viewStateEncryptionMode="Never" validateRequest="false"/>
		
		<httpModules>
			<remove name="WindowsAuthentication"/>
			<remove name="PassportAuthentication"/>
			<remove name="RoleManager"/>
			<remove name="Profile"/>
		</httpModules>
		
	</system.web>
	
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true"/>
		</settings>
	</system.net>
</configuration>
