<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--WebProxyMode  0=Disabled   1=AutoDetect    2=Custom -->
		<add key="WebProxyMode" value="0"/>
		<add key="WebProxyHost" value="0.0.0.0"/>
		<add key="WebProxyPort" value="8080"/>
		
		<add key="ASProxyLoginNeeded" value="false"/>
		<add key="ASProxyLoginUser" value="admin"/>
		<add key="ASProxyLoginPassword" value="admin"/>
		
		<add key="ASProxyServerPort" value="8080"/>
		<add key="ASProxyServerAdminPassword" value=""/>
		
		<add key="ASProxyAutoUpdateEnabled" value="false"/>
		<add key="ASProxyAutoUpdateInfoUrl" value="http://asproxy.sourceforge.net/update/autoupdate.xml"/>
		
		<add key="ErrorLogEnabled" value="false"/>
		
		<add key="LogSystemEnabled" value="false"/>
		<add key="LogImagesEnabled" value="false"/>
		<add key="LogFilePath" value="App_Data\DailyLog\{0}.log"/>
	</appSettings>
	
	<system.web>
		<compilation debug="false"></compilation>
		<!--Hey! ASProxy needs ASP.NET 2 server to run.-->
		<trace enabled="false" mostRecent="false" requestLimit="9999999" pageOutput="true"/>
		<authentication mode="Forms">
			<!-- One week = 10080 minutes -->
			<forms name="ASProxyUser" timeout="10080" slidingExpiration="true" protection="All" defaultUrl="~/" loginUrl="~/login.aspx"/>
		</authentication>
		<sessionState timeout="20" cookieName="ASProxySession"/>
		<customErrors mode="RemoteOnly" defaultRedirect="error_page.htm"/>
		
		<!--Some performance configurations-->
		<pages autoEventWireup="true" enableSessionState="true" enableViewStateMac="false" enableEventValidation="false" maintainScrollPositionOnPostBack="false" compilationMode="Auto" viewStateEncryptionMode="Never" validateRequest="false"/>
		<httpModules>
			<add name="HttpCompressor" type="SalarSoft.ASProxy.HttpCompressor"/>
			<remove name="WindowsAuthentication"/>
			<remove name="PassportAuthentication"/>
			<remove name="RoleManager"/>
			<remove name="Profile"/>
		</httpModules>
		
	</system.web>
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true"/>
		</settings>
	</system.net>
</configuration>
